@import "~bootstrap/scss/bootstrap.scss";

$color: steelblue;

.my-flix {
  color: $color;
}

.black-text {
  color: black;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;  // make sure it will cover 100% og the height
}

.sort-select {
  background-color: rgb(26, 100, 160);
  color: white;
}

.card-header {
  color: #01949A;
  font-weight: bold;
}

.movie-card-image {
  height: 300px;
  object-fit: cover; 
}

.movie-view-image {
  width:30vw;
  object-fit: cover; 
}

.text-limited {
  display: -webkit-box;
  -webkit-line-clamp: 3; // limit the showing lines
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; // use ellipsis to present hidden lines
}

.heart-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 8px;
}

.full-height-col {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}